<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cav.Core" version="7.3.6" targetFramework="net48" />
  <package id="Cav.WinForms" version="4.0.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="WebSphereMqClient" version="8.0.0.7" targetFramework="net461" />
</packages>